body {
	font-family: 'Varela Round', sans-serif;
	background-color: rgb(230, 238, 255);
	margin: 0px 25% 0px 25%;
	font-size: 20px;

}
#title {
	text-align: center;
	font-size: 75px;
	height: 8%;
	position: fixed;
	background-color: rgb(102, 153, 255);
	left: 0px;
	width: 100%;
	color: white;
	font-family: 'Bebas Neue', sans-serif;
}
#bottom {
	text-align: center;
	background-color: rgb(0, 0, 175);
	width: 100%;
	color: white;
}
a {
	color: rgb(200,140,235);
}
p {
	margin-top: 50px;
	margin-bottom: 50px;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.7em;
	background-color: rgb(230, 238, 255);
}
.line {
	border-top-style: solid;
}
#leftsidebar {
	float: left;
	position: static;
	left: 2%;
	width: 20%;
}
#rightsidebar {
	float: right;
	position: static;
	right: 2%;
	width: 20%;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
}
